:root{
    --bgcolor : #131313;
    --card-color: rgba(127,127,127,.05);
    --card-border: rgba(150,150,150,.1);
    --glow-color: rgba(255,255,255,0.06);
}

body{
    height: 100vh;
    background-color: var(--bgcolor);
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    max-width: 922px;
    width: calc(100%-20px);
    gap: 8px;
}

.card{
    background-color: var(--card-color);
    height: 260px;
    width: 300px;
    border: var(--card-border) 1px solid;
    border-radius: 13px;
    cursor: pointer;
    position: relative;
}

.card::before{
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    border-radius: inherit;

    background: radial-gradient(
        800px circle at 100px 100px, 
        var(--glow-color),
        transparent 40%
    );
}