:root{
    --bgcolor : #131313;
    --card-color: rgba(127,127,127,.13);
    --glow-color: rgba(34, 255, 0, 0.13);
    --border-glow-color: rgb(40, 184, 0);
    --card-content-color: rgb(23,23,23);
}

body{
    height: 100vh;
    background-color: var(--bgcolor);
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    max-width: 922px;
    width: calc(100%-20px);
    gap: 8px;
}

.card{
    background-color: var(--card-color);
    height: 260px;
    width: 300px;
    border-radius: 13px;
    cursor: pointer;
    position: relative;
}

.card:hover::before,
.card:hover > .card-border{
    opacity: 1;
}

.card::before,
.card > .card-border{
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    border-radius: inherit;
    opacity: 0;
    transition: opacity 500ms;
}

.card::before{
    background: radial-gradient(
        800px circle at var(--mouse-x) var(--mouse-y),
        var(--glow-color),
        transparent 40%
    );
    z-index: 3;
}

.card > .card-border{
    background: radial-gradient(
        300px circle at var(--mouse-x) var(--mouse-y),
        var(--border-glow-color),
        transparent 40%
    );
    z-index: 1;
}

.card > .card-content{
    background-color: var(--card-content-color);
    border-radius: inherit;
    margin: 1px;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    z-index: 2;
    position: relative;

}
